@font-face {
  font-family: "PP Grafier Text";
  src: url("./pp-grafier-text-variable.woff2") format("woff2");
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
}

@font-face {
  font-family: "PP Grafier Display";
  src: url("./pp-grafier-display-variable.woff2") format("woff2");
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
}
